/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');


/* Basic html & body style */
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
    font-family: 'Oswald', sans-serif;
}
body{
    background-color: rgba(160, 157, 157, 0.795);
    background-image: url('image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.container {
    background-color: rgba(254, 254, 254, 0.745);
    height: 500px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 2rem;
}

.title {
    text-align: center;
    margin: 2rem;
    font-size: 3rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #7A316F;
    text-shadow: -2px 0px 3px rgb(163, 162, 162);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label {
    font-size: 2rem;
    margin-bottom: 5rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.input-word {
    padding: 1rem;
    width: 90%;
    border: 1px solid rgb(34, 0, 255);
    border-radius: .5rem;
    font-size: 2rem;
    transition: all .2s ease-in-out;
}
.input-word:focus {
    transform: translateY(-2px);
    outline: none;
    box-shadow: -5px 5px 10px slateblue;
}

.input-sbt {
    margin-top: 2.5rem;
    padding: 1rem 3rem;
    border: none;
    border-radius: 2rem;
    background-color: crimson;
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow: 0px 0px 2px black;
    transition: all .2s ease-in-out;
}
.input-sbt:hover {
    box-shadow: 0px 0px 10px black;
    padding: 1rem 4rem;
}

#result {
    text-align: center;
    font-size: 25px;
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    .input-word {
        width: 50%;
    }
}

@media (min-width: 1280px) {
    .title {
        font-size: 4.5rem;
    }
    .label {
        font-size: 2.5rem;
    }
    .input-word {
        width: 30%;
    }
}